In [1]:
# 5/4/22

In [4]:
import pandas as pd
import numpy as np

In [6]:
dataset=pd.read_csv(r"C:\Users\Acer\Desktop\My Work\NumPy(pdf)\global_power_plants.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Acer\\Desktop\\My Work\\NumPy(pdf)\\global_power_plants.csv'

In [3]:
dataset

NameError: name 'dataset' is not defined

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country code                   34936 non-null  object
 1   country                        34936 non-null  object
 2   name of powerplant             34936 non-null  object
 3   capacity in MW                 34936 non-null  object
 4   latitude                       34936 non-null  float64
 5   longitude                      34936 non-null  float64
 6   primary_fuel                   34936 non-null  object
 7   secondary fuel                 1944 non-null   object
 8   other_fuel 1                   276 non-null    object
 9   other_fuel 2                   92 non-null     object
 10  start date                     17447 non-null  float64
 11  owner of plant                 20868 non-null  object
 12  geolocation_source             34517 non-null  object
 13  generation_gwh_2020            9659 non-null   float64
 14  generation_data_source         11400 non-null  object
 15  estimated_generation_gwh_2020  33138 non-null  float64
dtypes: float64(5), object(11)
memory usage: 4.3+ MB

In [54]:
dataset.count()

country code                     34936
country                          34936
name of powerplant               34936
capacity in MW                   34936
latitude                         34936
longitude                        34936
primary_fuel                     34936
secondary fuel                    1944
other_fuel 1                       276
other_fuel 2                        92
start date                       17447
owner of plant                   20868
geolocation_source               34517
generation_gwh_2020               9659
generation_data_source           11400
estimated_generation_gwh_2020    33138
dtype: int64

In [7]:
dataset["country"]

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
34931         Zambia
34932         Zambia
34933         Zambia
34934       Zimbabwe
34935       Zimbabwe
Name: country, Length: 34936, dtype: object

In [10]:
ad=dataset["capacity in MW"]

In [11]:
ad

0         $ 33
1           10
2           10
3           66
4          100
         ...
34931     50.0
34932     20.0
34933    108.0
34934    920.0
34935    750.0
Name: capacity in MW, Length: 34936, dtype: object

In [12]:
dataset[["country code","country","capacity in MW","primary_fuel"]]

      country code      country capacity in MW primary_fuel
0              AFG  Afghanistan           $ 33        Hydro
1              AFG  Afghanistan             10        Solar
2              AFG  Afghanistan             10        Solar
3              AFG  Afghanistan             66        Hydro
4              AFG  Afghanistan            100        Hydro
...            ...          ...            ...          ...
34931          ZMB       Zambia           50.0          Oil
34932          ZMB       Zambia           20.0          Oil
34933          ZMB       Zambia          108.0        Hydro
34934          ZWE     Zimbabwe          920.0         Coal
34935          ZWE     Zimbabwe          750.0        Hydro

[34936 rows x 4 columns]

In [13]:
ab=dataset[["country code","country","capacity in MW","primary_fuel"]]

In [14]:
ab

      country code      country capacity in MW primary_fuel
0              AFG  Afghanistan           $ 33        Hydro
1              AFG  Afghanistan             10        Solar
2              AFG  Afghanistan             10        Solar
3              AFG  Afghanistan             66        Hydro
4              AFG  Afghanistan            100        Hydro
...            ...          ...            ...          ...
34931          ZMB       Zambia           50.0          Oil
34932          ZMB       Zambia           20.0          Oil
34933          ZMB       Zambia          108.0        Hydro
34934          ZWE     Zimbabwe          920.0         Coal
34935          ZWE     Zimbabwe          750.0        Hydro

[34936 rows x 4 columns]

In [15]:
ab.to_csv("Data1.csv",index=False)

In [16]:
data=pd.read_csv("Data1.csv")

In [17]:
data

      country code      country capacity in MW primary_fuel
0              AFG  Afghanistan           $ 33        Hydro
1              AFG  Afghanistan             10        Solar
2              AFG  Afghanistan             10        Solar
3              AFG  Afghanistan             66        Hydro
4              AFG  Afghanistan            100        Hydro
...            ...          ...            ...          ...
34931          ZMB       Zambia           50.0          Oil
34932          ZMB       Zambia           20.0          Oil
34933          ZMB       Zambia          108.0        Hydro
34934          ZWE     Zimbabwe          920.0         Coal
34935          ZWE     Zimbabwe          750.0        Hydro

[34936 rows x 4 columns]

In [18]:
dataset.head()

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.322,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.670,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.623,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.556,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.641,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80

In [19]:
dataset.tail()

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [20]:
dataset["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antarctica',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', 'Cote DIvoire', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'French Guiana', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Mali', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Lucia', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [32]:
dataset["country"].nunique()

167

In [25]:
dataset["primary_fuel"].unique()

array(['Hydro', 'Solar', 'Gas', 'Other', 'Oil', 'Wind', 'Nuclear', 'Coal',
       'Waste', 'Biomass', 'Wave and Tidal', 'Petcoke', 'Geothermal',
       'Storage', 'Cogeneration'], dtype=object)

In [33]:
dataset["primary_fuel"].nunique()

15

# loc function

In [30]:
dataset.loc[dataset["country"]=="Afghanistan"]

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
5,AFG,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,11.55,34.4847,70.3633,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,46.12
6,AFG,Afghanistan,Northwest Kabul Power Plant Afghanistan,42,34.5638,69.1134,Gas,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,NaN
7,AFG,Afghanistan,Pul-e-Khumri Hydroelectric Power Plant Afghani...,6,35.9416,68.7100,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,19.74
8,AFG,Afghanistan,Sarobi Dam Hydroelectric Power Plant Afghanistan,22,34.5865,69.7757,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,80.00

In [31]:
dataset.loc[dataset["country"]=="India"]

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
14052,IND,India,ACME Solar Tower,2.5,28.1839,73.2407,Solar,NaN,NaN,NaN,2011.0,Solar Paces,National Renewable Energy Laboratory,NaN,NaN,4.29
14053,IND,India,ADITYA CEMENT WORKS,98,24.7663,74.6090,Coal,NaN,NaN,NaN,NaN,Ultratech Cement ltd,WRI,NaN,NaN,516.25
14054,IND,India,AES Saurashtra Windfarms,39.2,21.9038,69.3732,Wind,NaN,NaN,NaN,NaN,AES,WRI,NaN,NaN,56.88
14055,IND,India,AGARTALA GT,135,23.8712,91.3602,Gas,NaN,NaN,NaN,2004.0,NaN,WRI,NaN,Central Electricity Authority,424.77
14056,IND,India,AKALTARA TPP,1800,21.9603,82.4091,Coal,Oil,NaN,NaN,2015.0,NaN,WRI,NaN,Central Electricity Authority,9482.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15636,IND,India,Yellapur,50,14.9750,74.8150,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,117.52
15637,IND,India,ZAWAR MINES,80,24.3500,73.7477,Coal,NaN,NaN,NaN,NaN,Hindustan Zinc ltd,WRI,NaN,NaN,421.43
15638,IND,India,Zaheerabad,50,17.6590,77.5570,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,114.51
15639,IND,India,Zaheerabad 2,10,17.6540,77.5520,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,20.30
15640,IND,India,iEnergy Theni Wind Farm,16.5,9.9344,77.4768,Wind,NaN,NaN,NaN,NaN,iEnergy Wind Farms,WRI,NaN,NaN,23.94

In [37]:
dataset.loc[dataset["primary_fuel"]=="Solar",["country","name of powerplant"]]

           country  name of powerplant
1      Afghanistan        Kandahar DOG
2      Afghanistan        Kandahar JOL
17         Algeria               Adrar
18         Algeria            Ain Azel
20         Algeria        Ain Sekhouna
...            ...                 ...
34833      Vietnam      Ninh Thuận CMX
34847      Vietnam           Phước Nam
34894      Vietnam  Thua Thien Hue TTC
34895      Vietnam           Thuan Bac
34921       Zambia               Kafue

[10665 rows x 2 columns]

In [39]:
dataset.loc[(dataset['country']=='Afghanistan')&(dataset['estimated_generation_gwh_2020']<=100)]

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
5,AFG,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,11.55,34.4847,70.3633,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,46.12
7,AFG,Afghanistan,Pul-e-Khumri Hydroelectric Power Plant Afghani...,6,35.9416,68.7100,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,19.74
8,AFG,Afghanistan,Sarobi Dam Hydroelectric Power Plant Afghanistan,22,34.5865,69.7757,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,80.00

In [40]:
dataset

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [43]:
dataset.loc[((dataset["primary_fuel"]=="Hydro")&(dataset["primary_fuel"]=="Solar"))&((dataset["country"]=="Afghanistan")&(dataset["country"]=="India"))]

Empty DataFrame
Columns: [country code, country, name of powerplant, capacity in MW, latitude, longitude, primary_fuel, secondary fuel, other_fuel 1, other_fuel 2, start date, owner of plant, geolocation_source, generation_gwh_2020, generation_data_source, estimated_generation_gwh_2020]
Index: []

In [44]:
dataset.loc[((dataset["primary_fuel"]=="Hydro")|(dataset["primary_fuel"]=="Solar"))&((dataset["country"]=="Afghanistan")|(dataset["country"]=="India"))]

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15633,IND,India,Yapaladinni II,5,16.2900,77.5050,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,10.08
15634,IND,India,Yelesandra Solar Power Plant,3,12.8932,78.1654,Solar,NaN,NaN,NaN,NaN,Karnataka Power Corporation Limited,Industry About,NaN,NaN,5.75
15636,IND,India,Yellapur,50,14.9750,74.8150,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,117.52
15638,IND,India,Zaheerabad,50,17.6590,77.5570,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,114.51
15639,IND,India,Zaheerabad 2,10,17.6540,77.5520,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,20.30

In [45]:
dataset.loc[(dataset['primary_fuel']=='Hydro'),'country':'primary_fuel']

,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel
0,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro
3,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro
4,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro
5,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,11.55,34.4847,70.3633,Hydro
7,Afghanistan,Pul-e-Khumri Hydroelectric Power Plant Afghani...,6,35.9416,68.7100,Hydro
...,...,...,...,...,...,...
34922,Zambia,Kafue Gorge,990.0,-15.8089,28.4199,Hydro
34923,Zambia,Kariba,930.0,-16.5222,28.7619,Hydro
34927,Zambia,Lusiwasi,12.0,-12.9884,30.8649,Hydro
34933,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro
34935,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro

In [48]:
dataset.loc[(dataset["primary_fuel"]=="Hydro"),("country code","country","capacity in MW")]

      country code      country capacity in MW
0              AFG  Afghanistan           $ 33
3              AFG  Afghanistan             66
4              AFG  Afghanistan            100
5              AFG  Afghanistan          11.55
7              AFG  Afghanistan              6
...            ...          ...            ...
34922          ZMB       Zambia          990.0
34923          ZMB       Zambia          930.0
34927          ZMB       Zambia           12.0
34933          ZMB       Zambia          108.0
34935          ZWE     Zimbabwe          750.0

[7156 rows x 3 columns]

In [49]:
dataset

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [51]:
dataset.loc[((dataset["primary_fuel"]=="Hydro")|(dataset["primary_fuel"]=="Solar"))&(dataset["longitude"]<=60)]

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
9,ALB,Albania,Bistrica 1,27,39.9116,20.1047,Hydro,NaN,NaN,NaN,1965.0,NaN,GEODB,NaN,NaN,88.45
10,ALB,Albania,Fierza,500,42.2514,20.0431,Hydro,NaN,NaN,NaN,1978.0,NaN,GEODB,NaN,NaN,1648.24
11,ALB,Albania,Koman,600,42.1033,19.8224,Hydro,NaN,NaN,NaN,1985.0,NaN,GEODB,NaN,NaN,1982.72
12,ALB,Albania,Lanabregas,5,41.3428,19.8964,Hydro,NaN,NaN,NaN,1951.0,NaN,GEODB,NaN,NaN,15.23
13,ALB,Albania,Shkopet,24,41.6796,19.8305,Hydro,NaN,NaN,NaN,1963.0,NaN,GEODB,NaN,NaN,83.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34922,ZMB,Zambia,Kafue Gorge,990.0,-15.8089,28.4199,Hydro,NaN,NaN,NaN,1971.0,ZESCO,GEODB,NaN,NaN,3909.20
34923,ZMB,Zambia,Kariba,930.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,ZESCO,GEODB,NaN,NaN,4910.70
34927,ZMB,Zambia,Lusiwasi,12.0,-12.9884,30.8649,Hydro,NaN,NaN,NaN,NaN,ZESCO,GEODB,NaN,NaN,26.48
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24

In [1]:
dataset.loc[((dataset["primary_fuel"]=="Hydro")|(dataset["primary_fuel"]=="Solar"))&((dataset["longitude"]<=60)|(dataset["country"]=="India"))]

NameError: name 'dataset' is not defined

In [8]:
# part 4

In [9]:
dataset

,country code,country,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel 1,other_fuel 2,start date,owner of plant,geolocation_source,generation_gwh_2020,generation_data_source,estimated_generation_gwh_2020
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,$ 33,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,119.50
1,AFG,Afghanistan,Kandahar DOG,10,31.6700,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.29
2,AFG,Afghanistan,Kandahar JOL,10,31.6230,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,NaN,NaN,18.72
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,174.91
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,350.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,183.79
34932,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,73.51
34933,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Power Africa,NaN,NaN,578.32
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,2785.10
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,NaN,NaN,3960.24